<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <title>Login</title>
  </head>
  <body>
    <%- include ("partials/nav") %>
    <h1>welcome to <%= user.name %> page</h1>
    <img src="<%= user.thumbnail%>" alt="">
    <p><%= user.googleID %></p>
    <p><%= user.date %></p>
  </body>
</html>
