<!doctype html>
<html lang="en">
  <head>
    <%- include ("../partials/header") %>
    <title>學生資訊</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include ("../partials/nav") %>
    <main style="padding: 3rem">
      <h1 class="fw-bold">學生內頁</h1>
      <table class="table" style="max-width: 500px">
        <thead>
          <tr class="table-primary">
            <th colspan="2">學生資訊</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>名稱</td>
            <td><%= student.name %></td>
          </tr>
          <tr>
            <td>信箱</td>
            <td><%= student.email %></td>
          </tr>
          <tr>
            <td>年紀</td>
            <td><%= student.age %></td>
          </tr>
          <tr>
            <td>主修</td>
            <td><%= student.major %></td>
          </tr>
          <tr>
            <td>獎學金(主修)</td>
            <td><%= student.scholarship?.merit %></td>
          </tr>
          <tr>
            <td>獎學金(其他)</td>
            <td><%= student.scholarship?.other %></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <a class="btn btn-primary" href="/students/studentEdit/<%= student.id %>"> 修改</a>
            </td>
          </tr>
        </tfoot>
      </table>
    </main>
  </body>
</html>
