<!doctype html>
<html lang="en">
  <head>
    <%- include ("../partials/header") %>
    <title>學生資訊</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include ("../partials/nav") %>
    <main style="padding: 3rem">
      <h1 class="fw-bold">學生資訊 (新增)</h1>
      <form action="/students/studentInsert/<%= student.id %>" method="POST">
        <table class="table" style="max-width: 500px">
          <thead>
            <tr class="table-primary">
              <th colspan="2">學生資訊</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>名稱</td>
              <td><%= student.name %></td>
            </tr>
            <tr>
              <td>信箱</td>
              <td><%= student.email %></td>
            </tr>
            <tr>
              <td>
                <label for="age">年紀</label>
              </td>
              <td>
                <input type="number" id="age" name="age" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="major">主修</label>
              </td>
              <td>
                <input type="text" id="major" name="major" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="major">獎學金(主修)</label>
              </td>
              <td>
                <input type="number" id="merit" name="merit" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="other">獎學金(其他)</label>
              </td>
              <td>
                <input type="number" id="other" name="other" />
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2">
                <button class="btn btn-primary" type="submit">送出</button>
              </td>
            </tr>
          </tfoot>
        </table>
      </form>
    </main>
  </body>
</html>
